.chat-header{
    width: inherit;
    height: 39px;
    padding: 10px 16px;
    background-color: #f0f2f5;
}
.chat-header--inner{
    height: 39px;
    width: 100%;
    display: flex;
}
.chat-header--img{
    margin-right: 15px;
}
.chat-header--name{
    font-size: 16px;
}
.chat-header--title{
    flex-grow: 1;
}
.chat-header--buttons{
    width: 80px;
    float: right;
}
.chat-header--buttons{
    display: flex;
}
.chat-header--button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}