.sidebar{
    flex-grow: 1;
    background-color: white;
}
.sidebar--link{
    text-decoration: none;
    color: inherit;
}
.sidebar--table{
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 0.5px solid #f0f2f5;
    border-bottom: 0.5px solid #f0f2f5;
    background-color: white;
}
.sidebar--table_item{
    height: 72px;
    display: flex;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease;
}
.sidebar--table_item:hover{
    background-color: #f5f6f8;
}
.sidebar--table_item-icon{
    height: 72px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar--table_item-main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    border-top: 0.5px solid #f0f2f5;
}
.sidebar--table_item-main_first{
    border: none;
}
.sidebar--table_item-main--name{
    width: inherit;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.sidebar--table_item-main--name--date{
    font-size: 10px;
    color:#6f6f72;
}
.sidebar--table_item-main--message{
    display: flex;
    justify-content: space-between;
    color: #6f6f72;
}
.sidebar--table_item-main--message--arrow{
    visibility: hidden;
    position: relative;
    right: -10px;
}
.sidebar--table_item:hover  .sidebar--table_item-main--message--arrow{
    visibility: visible;
    transform: translateX(-10px);
    transition-duration: 0.1s;
}